* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #c9c9c9;
}

.wrapper {
  width: 600px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  margin-inline: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-right: 2px dotted gray;
}


.result__text {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn__text {
  width: 20%;
  margin: 0 auto;
}

.btn {
  width: 50%;
  margin: 0 auto;
}